@keyframes ldio-hk97veu521l {
	0% { transform: rotate(0deg) }
	50% { transform: rotate(180deg) }
	100% { transform: rotate(360deg) }
}

.spinner{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.ldio-hk97veu521l div {
	position: absolute;
	animation: ldio-hk97veu521l 1s linear infinite;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 50%;
	box-shadow: 0 4px 0 0 #eb7f19;
	transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-w5mgtk16j4o {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: #f1f2f3;
}
.ldio-hk97veu521l {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-hk97veu521l div { box-sizing: content-box; }